.kutu{
width: 100px;
height: 100px ;
background-color: #222222;
color: white;
float: left ;
margin-right: 1rem;
margin-bottom: 1rem;

}
.clearfix{
    clear: both;
}
.kutu sag{
width: 100px;
height: 100px ;
background-color: #222222;
color: white;
float: right ;
margin-left: 1rem;
margin-top: 1rem;




}