#renk1{
    background-color:#9d8054;
    text-align: center;
}
#renk2{
    background-color:  #ddceb8;
    text-align: center;

}
#baslik{
    background-color: rgb(81, 81, 232);
    text-align: center;
}
